form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  margin: auto;
  width: 20%;
  margin-top: 20px;
  font-size: 16px;
}

h1,
h2 {
  text-align: center;
  padding: 25px;
  background-color: rgb(255, 213, 74);
}

input {
  padding: 10px;
}

label {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
}

label:last-of-type {
  margin-top: 15px;
}

#city {
  margin-bottom: 10px;
}

button {
  padding: 10px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.item {
  width: 15%;
  align-self: center;
  margin-bottom: 30px;
  box-shadow: 0 0 15px rgb(255, 166, 0);
  border-radius: 10px;
}

.icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(247, 253, 159);
  padding: 10px;
  min-height: 300px;
}
.icons img {
  padding-bottom: 20px;
}

.weatherCity {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(253, 189, 52);
  padding: 10px;
  min-height: 300px;
}

.temp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(247, 253, 159);
  padding: 10px;
  min-height: 300px;
}

.temp h1 {
  border-radius: 30px;
}
